@mixin ref($color, $typ: references, $wielkosc: 15px) {
    ##{$typ}{
        background-color: $color;
        font-size: $wielkosc;

    }

}

@mixin stylDiv($color, $typp: div_wazne, $wielkosc: 10px) {
    ##{$typp} { 
    background-color: $color;
    font-size: $wielkosc; 
}
}